@using FilmNet.Controllers
@model IEnumerable<FilmNet.Models.Film>

@{
    ViewData["Title"] = "Films";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1> Films </h1>
        <a asp-controller="Films" asp-action="Create" class="btn btn-primary">Add New Film</a>
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Id</td>
                <td>@film.Name</td>
                <td>@film.Year</td>
                <td>@film.Description</td>
                <td>@film.CreatedAt</td>
            </tr>
        }
        </tbody>
    </table>

</div>